#line starts with # is a comment line
#Sequence_type can be any of Protein or DNA, auto

sequence_type=protein


#Each position in an alignment holds a stack of character. stack_width sets the width the stack eventually it sets the
#width of the character

stack_width=0.8


#Each stack may have many character but the total height is never greater than the stack_height. While setting the
#stack_height a general consideration is: stack_height=log2(#alphabet in that sequence_type) at least.
#For example, for Protein sequence, stack_height=log2(20)=5, for DNA its log2(4)=2

stack_height=5.0
#the separation along Y-axis
tic_size=1

#Starting position of the logo. Default set to 0

alignment1_index=0

alignment2_index=0

#length of the sequence that requires to be shown. For example, one may wants to visualize a sequence of length 50 from the
#position 20 and . in this case, the start_index is start_index=20 and sequence_length=50
#Put sequence_length to negative value to draw the entire sequence.
sequence_length=-1

#Block size defines the number of position to be shown in one Line. If the total size of the sequence is more than the
#block size, it will be splitted into multiple lines each line containing only block_size number of position

block_size=50
#to show the X-axis, set show_X_axis to 1,else 0

show_X_axis=1

#to show Y-axis, set show_Y-axis to 1, else 0

show_Y_axis=1

#to show the position along the X-axis, set show_position to 1, else 0

show_position=1



#transparency set the opacity of the mirror logo

transparency=0.6




